ETHERSCAN_TOKEN=

# Mainnet
ETH_RPC_URL=https://eth.drpc.org
ARBITRUM_RPC_URL=https://arbitrum.drpc.org
BASE_RPC_URL=https://base.drpc.org
BNB_RPC_URL=https://bsc-rpc.publicnode.com
MANTLE_RPC_URL=https://mantle.drpc.org
OPTIMISM_RPC_URL=https://optimism.drpc.org
PLASMA_RPC_URL=https://plasma.drpc.org
UNICHAIN_RPC_URL=https://unichain.drpc.org

# Testnet
BNB_TESTNET_RPC_URL=https://bsc-testnet-rpc.publicnode.com
ETH_HOODI_RPC_URL=https://hoodi.drpc.org
ETH_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
OPTIMISM_SEPOLIA_RPC_URL=https://optimism-sepolia.drpc.org
