ETHERSCAN_TOKEN=

# Mainnet
ETH_RPC_URL=https://eth.drpc.org
ARBITRUM_RPC_URL=https://arbitrum.drpc.org
BASE_RPC_URL=https://base.drpc.org
BNB_RPC_URL=https://bsc-rpc.publicnode.com
INK_RPC_URL=https://ink.drpc.org
LINEA_RPC_URL=https://linea.drpc.org
LISK_RPC_URL=https://lisk.drpc.org
MANTLE_RPC_URL=https://mantle.drpc.org
MEGAETH_RPC_URL=https://megaeth.drpc.org
MODE_RPC_URL=https://mode.drpc.org
MONAD_RPC_URL=https://rpc.monad.xyz
OPTIMISM_RPC_URL=https://optimism.drpc.org
PLASMA_RPC_URL=https://plasma.drpc.org
SONEIUM_RPC_URL=https://soneium.drpc.org
SWELL_RPC_URL=https://swell.drpc.org
UNICHAIN_RPC_URL=https://unichain.drpc.org
ZIRCUIT_RPC_URL=https://mainnet.zircuit.com

# Testnet
BNB_TESTNET_RPC_URL=https://bsc-testnet-rpc.publicnode.com
ETH_HOODI_RPC_URL=https://hoodi.drpc.org
ETH_SEPOLIA_RPC_URL=https://sepolia.drpc.org
OPTIMISM_SEPOLIA_RPC_URL=https://optimism-sepolia.drpc.org
SONEIUM_MINATO_RPC_URL=https://soneium-minato.drpc.org
