---
# yaml-language-server: $schema=./../../schemas/seed-schema.json

deployed:
  l1:
    - &AgreementV2 "0xe19f54e8322214839a87408f084aa14ebefe9e87"
    - &SafeProxy "0xA1E2CD361e17ba10DCfAe3aA33f463DcB53a2Ffd"
    - &Safe "0x41675C099F32341bf84BFc5382aF534df5C7461a"

l1:
  rpcUrl: MAINNET_REMOTE_RPC_URL # https://ethereum-rpc.publicnode.com
  explorerHostname: api.etherscan.io/v2/api
  explorerTokenEnv: ETHERSCAN_TOKEN
  chainId: 1
