# yaml-language-server: $schema=../../schemas/main-schema.json
parameters:
  - &trustedCaller "0xeBe5948787Bb3a565F67ccD93cb85A91960c472a"
  - &initialValidatorExitFeeLimit "100000000000000000"
  - &maxGroupShareLimit "500000000000000000000000"
  - &maxDefaultTierShareLimit "500000000000000000000000"

misc:
  - &DEFAULT_TIER_OPERATOR "0xFFfFfFffFFfffFFfFFfFFFFFffFFFffffFfFFFfF"
  - &locator "0xe2EF9536DAAAEBFf5b1c130957AB3E80056b06D8"
  - &evmScriptExecutor "0x79a20FD0FA36453B2F45eAbab19bfef43575Ba9E"
  - &withdrawalRequestPredeployAddress "0x00000961Ef480Eb55e80D19ad83579A64c007002"
  - &maxInfraFeeBP "100" # 1%
  - &maxLiquidityFeeBP "1000" # 10%
  - &maxReservationFeeBP "0" # 0%

deployed:
  l1:
    - &RegisterGroupsInOperatorGrid "0xfEF8B796Fea42b3C68E342364Adcf88F1d6145a6"
    - &UpdateGroupsShareLimitInOperatorGrid "0x56Ff87F41a8CF795764E15E496124240Ac17695b"
    - &RegisterTiersInOperatorGrid "0x4DF806111AC58e93d90E6D2fBE8522a76be6F499"
    - &AlterTiersInOperatorGrid "0xF21f98cac0Ba38f02b4d5be1667cc345929E8877"
    - &VaultsAdapter "0x854CF0D7446Faa7AdDFE557cc8aa9FA9b7017910"
    - &SetJailStatusInOperatorGrid "0x395E6AF61B6Ba3EC0E72E168A2Ec8204589F357c"
    - &UpdateVaultsFeesInOperatorGrid "0x2D5b8B082d618A8d5DeFE3f4c2b2869e3f1C1a3D"
    - &ForceValidatorExitsInVaultHub "0x820e9924C2059d37871acd6eccB578e4a3B15c30"
    - &SocializeBadDebtInVaultHub "0x01C9dB53D7a87c3e47D537c925921fB735bEe6c9"
    - &SetLiabilitySharesTargetInVaultHub "0xc5dCd2A9642ceA9B71A632BF5b8ff52424Ea1B40"

l1:
  rpcUrl: HOODI_REMOTE_RPC_URL
  explorerHostname: api.etherscan.io/v2/api
  explorerTokenEnv: ETHERSCAN_TOKEN
  chainId: 560048
  contracts:
    RegisterGroupsInOperatorGrid:
      name: RegisterGroupsInOperatorGrid
      address: *RegisterGroupsInOperatorGrid
      checks:
        DEFAULT_TIER_OPERATOR: *DEFAULT_TIER_OPERATOR
        createEVMScript: null
        decodeEVMScriptCallData: null
        lidoLocator: *locator
        maxShareLimit: *maxGroupShareLimit
        trustedCaller: *trustedCaller

    UpdateGroupsShareLimitInOperatorGrid:
      name: UpdateGroupsShareLimitInOperatorGrid
      address: *UpdateGroupsShareLimitInOperatorGrid
      checks:
        createEVMScript: null
        decodeEVMScriptCallData: null
        lidoLocator: *locator
        maxShareLimit: *maxGroupShareLimit
        trustedCaller: *trustedCaller

    RegisterTiersInOperatorGrid:
      name: RegisterTiersInOperatorGrid
      address: *RegisterTiersInOperatorGrid
      checks:
        DEFAULT_TIER_OPERATOR: *DEFAULT_TIER_OPERATOR
        createEVMScript: null
        decodeEVMScriptCallData: null
        lidoLocator: *locator
        trustedCaller: *trustedCaller

    AlterTiersInOperatorGrid:
      name: AlterTiersInOperatorGrid
      address: *AlterTiersInOperatorGrid
      checks:
        createEVMScript: null
        decodeEVMScriptCallData: null
        defaultTierMaxShareLimit: *maxDefaultTierShareLimit
        lidoLocator: *locator
        trustedCaller: *trustedCaller

    VaultsAdapter:
      name: VaultsAdapter
      address: *VaultsAdapter
      checks:
        WITHDRAWAL_REQUEST_PREDEPLOY_ADDRESS: *withdrawalRequestPredeployAddress
        evmScriptExecutor: *evmScriptExecutor
        lidoLocator: *locator
        trustedCaller: *trustedCaller
        validatorExitFeeLimit: *initialValidatorExitFeeLimit

    SetJailStatusInOperatorGrid:
      name: SetJailStatusInOperatorGrid
      address: *SetJailStatusInOperatorGrid
      checks:
        createEVMScript: null
        decodeEVMScriptCallData: null
        trustedCaller: *trustedCaller
        vaultsAdapter: *VaultsAdapter

    UpdateVaultsFeesInOperatorGrid:
      name: UpdateVaultsFeesInOperatorGrid
      address: *UpdateVaultsFeesInOperatorGrid
      checks:
        createEVMScript: null
        decodeEVMScriptCallData: null
        lidoLocator: *locator
        trustedCaller: *trustedCaller
        vaultsAdapter: *VaultsAdapter
        maxInfraFeeBP: *maxInfraFeeBP
        maxLiquidityFeeBP: *maxLiquidityFeeBP
        maxReservationFeeBP: *maxReservationFeeBP

    ForceValidatorExitsInVaultHub:
      name: ForceValidatorExitsInVaultHub
      address: *ForceValidatorExitsInVaultHub
      checks:
        WITHDRAWAL_REQUEST_PREDEPLOY_ADDRESS: *withdrawalRequestPredeployAddress
        createEVMScript: null
        decodeEVMScriptCallData: null
        trustedCaller: *trustedCaller
        vaultsAdapter: *VaultsAdapter

    SocializeBadDebtInVaultHub:
      name: SocializeBadDebtInVaultHub
      address: *SocializeBadDebtInVaultHub
      checks:
        createEVMScript: null
        decodeEVMScriptCallData: null
        trustedCaller: *trustedCaller
        vaultsAdapter: *VaultsAdapter

    # TODO: need to be updated before use
    SetLiabilitySharesTargetInVaultHub:
      name: SetLiabilitySharesTargetInVaultHub
      address: *SetLiabilitySharesTargetInVaultHub
      checks:
        createEVMScript: null
        decodeEVMScriptCallData: null
        trustedCaller: *trustedCaller
        vaultsAdapter: "0xBC2bb8310730F3D2b514Cb26f7e0A8776De879Ac"
