# yaml-language-server: $schema=../../schemas/main-schema.json

deployed:
  l1:
    - &vaultsWrapperFactory "0x06639923B260D5009daD1f8c34a03e5B81f1e5c9"
    - &lidoLocator "0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb"

l1:
  rpcUrl: https://ethereum-rpc.publicnode.com
  explorerHostname: api.etherscan.io
  chainId: 1
  explorerTokenEnv: ETHERSCAN_TOKEN
