---
# yaml-language-server: $schema=./../../schemas/seed-schema.json

deployed:
  l1:
    - &vaultsWrapperFactory "0x06639923B260D5009daD1f8c34a03e5B81f1e5c9" # Vaults Wrapper Factory (deployed)
    - &lidoLocator "0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb" # Lido Locator (proxy)
    - &stvPoolFactory "0x846a6341Bd38a201Bcd8012f4FCD55C244b67a35" # StvPoolFactory
    - &stvStEthPoolFactory "0xE6054A1092bAEe5b87f6e558980b04d8922eE009" # StvStETHPoolFactory
    - &withdrawalQueueFactory "0x36dAA1E4E7E7a80fE5fccBF0e5275FFde88938Fa" # WithdrawalQueueFactory
    - &distributorFactory "0x20bd26E89542CaEeAfdc20121C7f8BC24539B3f6" # DistributorFactory
    - &timelockFactory "0x8A5186Ad9A479F1341Fd12359b5D612f42b5fE14" # TimelockFactory

l1:
  rpcUrl: https://ethereum-rpc.publicnode.com
  explorerHostname: api.etherscan.io
  chainId: 1
  explorerTokenEnv: ETHERSCAN_TOKEN
